# ==========================================
# 1. SEGURANÇA E CHAVES (NUNCA COMMITAR)
# ==========================================
.env
*.key
forwarding.secret

# ==========================================
# 2. COMPILADOR E EXECUTÁVEIS (PyInstaller)
# ==========================================
build/
dist/
*.spec

# ==========================================
# 3. AMBIENTES VIRTUAIS, CACHE E IDEs
# ==========================================
.venv/
__pycache__/
.idea/
.vscode/

# ==========================================
# 4. BANCO DE DADOS LOCAL
# ==========================================
*.db
*.sqlite3

# ==========================================
# 5. CLIENTE MINECRAFT (Evitar upar gigabytes)
# ==========================================
pear_minecraft_client/

# ==========================================
# 6. SERVIDORES MINECRAFT (Todos os perfis)
# ==========================================
# Mundos e Arquivos Pesados
perfis/*/world/
perfis/*/world_nether/
perfis/*/world_the_end/
perfis/*/server.jar
perfis/*/cache/

# Arquivos Gerados Automaticamente pelo Java/Paper
perfis/*/logs/
perfis/*/libraries/
perfis/*/versions/
perfis/*/*.json
perfis/*/*.yml
perfis/*/.console_history
perfis/*/plugins/*/tmp/